<script type="text/javascript">
	cancel_redirect = function(){
		let qs = "{{ params.RelayState }}".split('?')[1];
		let data = {};
		for (let k of qs.split("&amp;")){ let kk=k.split("="); data[kk[0]] =kk[1]; }

		window.location = "/v1/flow_requests/cancel/?confirm_id=" + data["confirm_id"] +
			"&callback_url=" + data["callback_url"];
	};
</script>
<p>
	<div class="container">
		<h2 align="center">TS/CNS Login Authentication Page</h2>
		<div class="panel panel-default">
			<div class="panel-heading">TS/CNS Identification</div>
			<div class="panel-body">
				Ensure you have your TS/CNS reader properly connected and with the required rivers installed.
				Insert your TS/CNS card into the reader, then click on the TS/CNS Login button. You will be asked
				to enter your PIN and to confirm certificate selection.
			</div>
		</div>
	</div>
<br /><button onclick="cancel_redirect()">
		Back</button>
<div class="form-element-wrapper col-sm-4 col-sm-offset-1 text-center">
	<form method="post" action="{{ target_url }}" name="SSO_Login">
		{% for key, value in params.items %}
			{% if key == "SAMLRequest" %}
				<input type="hidden" name="{{ key|safe }}" value="{{ value.decode|safe }}" />
			{% else %}
				<input type="hidden" name="{{ key|safe }}" value="{{ value|safe }}" />
			{% endif %}
		{% endfor %}
		<input type="submit" value="Log in" />
	</form>
</div>

</p>
